/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Container styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

/* Header styles */
header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* Navigation styles */
nav {
  display: flex;
  justify-content: center;
  background: #444;
  padding: 10px 0;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  background: #555;
  margin: 0 10px;
  transition: all 0.3s ease;
}

nav a:hover {
  background: #777;
}
/* Main content styles */
main {
  padding: 20px 0;
}

/* Button styles */
/* Button styles */
.btn {
  display: inline-block;
  background: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 30px;
  margin-top: 20px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #444;
  transform: scale(1.1);
}

/* Form styles */
form {
  margin: 20px auto;
  max-width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 20px;
}

input[type="submit"]:hover {
  background: #444;
}


/* Typography styles */
h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}

.App {
  font-family: sans-serif;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.images-container {
  display: flex;
  max-width: 700px;
  overflow: scroll;
  /* Add the following lines for smooth scrolling */
  scroll-behavior: smooth;
  transition: scroll 0.3s ease-in-out;
}

.image {
  width: 300px;
  height: 300px;
  margin: 5px;
  border-radius: 8px;
  transition: transform 0.3s ease;
}
.image:hover {
  transform: scale(1.1);
}

.nav-btn {
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  background-color: #c3c3c3;
  border-radius: 6px;
  height: 200px;
  width: 30px;
  margin: 5px;
}